{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <h2>Watchlist</h2>
    
    <section class="w-layout-grid get-started-grid">
    {% for listing in listings %}
    <!-- <a href="{% url 'create_listing' %}"> -->
        <a href="{% url 'listing_page' listing.id %}" style="text-decoration: none;">
        <div  class="feature-card w-inline-block" >
          <h5>{{listing.title}}</h5>
          <br>
          <div class="licence-graphic">
            {% if listing.img %}
            <img src="{{listing.img.url}}" alt="" class="started-asset">
            {% endif %}
          </div>
          <p style="color: black;">Price: ${{listing.price}}<p>
          Description: {{listing.description}}
          <!-- <a href="/playgorund/filter" class="feature-card w-inline-block"> -->
        </div>
      </a>
        <!-- </a> -->
      <!-- </a> -->
    
    {% empty %}
    <h4 style="color: blue;"> Empty Watchlist </h4>
    {% endfor %}

    </section>

{% endblock %}