{% extends "auctions/layout.html" %}

{% block body %}

{% if category_posts %}
    <h2> {{ cats }}</h2>

    <div class="w-layout-grid get-started-grid">
    {% for listing in category_posts %}
         <!-- <a href="{% url 'create_listing' %}"> -->
            <a href="{% url 'listing_page' listing.id %}" style="text-decoration: none;">
                <div  class="feature-card w-inline-block" >
                  <h5>{{listing.title}}</h5>
                  <br>
                  <div class="licence-graphic">
                    {% if listing.img %}
                    <img src="{{listing.img.url}}" alt="" class="started-asset">
                    {% endif %}
                  </div>
                  <p style="color: black;">Price: ${{listing.price}}<p>
                  Description: {{listing.description}}
                  <!-- <a href="/playgorund/filter" class="feature-card w-inline-block"> -->
                </div>
              </a>
                <!-- </a> -->
              <!-- </a> -->
        <!-- </a> -->
    {% endfor %}
    </div>

{% else %}
    <h2>Sorry, this page doesn't exist</h2>

{% endif %}

{% endblock %}