{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    {% for listing in listings %}
        <br>
        <h2>Listing: {{listing.title}}</h2>
        <img src="{{listing.img}}" width="500" height="600">
        <br>
        <br>
        <!-- <h2>${{listing.bid}}</h2> -->
        <h3>Details</h3>
        <li>Listed by: {{listing.user}}</li>
        <li>Category: {{listing.category}} </li>
        <li>Last Updated: {{listing.last_modified}} </li>
    {% endfor %}

{% endblock %}