{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<style>
    * {
      box-sizing: border-box;
    }
    
    .header {
      padding: 15px;
    }
    
    .left {
      width: 25%;
      float: left;
      padding: 15px;
    }
    
    .right {
      width: 75%;
      float: left;
      padding: 60px;
    }
    </style>
    <h2 style="color: black;">{{listing.title.title}}</h2>
    <br>

   
    
    <!-- arranging website into a row -->
    <div class="left">
            {% if listing.img %}
                <img src="{{listing.img.url}}" alt="" style="width:300px;height:400px;">
            {% endif %}
    </div>
    <div class="right">

        {% if user.is_authenticated and status and close_privelege  %}
        <form action="{% url 'close_listing' listing_id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" style="float: right;">Close Listing</button>
        </form>
        {% endif %}
            {% if listing.status %}
                <strong>Live</strong>
                <div class="blob" style="float:top;"></div>

            {% else %}
                <strong>Closed</strong>
                <div class="blob1"></div>
            {% endif %}

            <br>
            <h3>
                <div style="color: green;">Highest Bid: ${{listing.price}}</div>
            </h3>
            <br>
            <h6><strong>Description:</strong> {{listing.description}}</h6>
            <h6><strong>Date Posted:</strong> {{listing.last_modified}}</h6>
            <h6><strong>Category:</strong> {{listing.category.title}}</h6>
            <h6><strong>Posted by:</strong> {{listing.user}}</h6>
            <br>

            <!-- Placing a bid form -->

            {% if status %}
            <form action="{% url 'listing_page' listing_id %}" method="post">
                {% csrf_token %}
                {{ bidform }}
                <button type="submit" name="bid" class="btn btn-primary btn-sm">Place Bid</button>
            </form>
            {% endif %}
            {% if success_message != None %}
            <br>
            <h6 style="color: green;">{{success_message}}</h6>
            {% endif %}
            <br>
            <hr>
            {% if user.is_authenticated and status %}
            <!-- Add to Watchlist form -->
                <form action="{% url 'favorite_post' listing_id %}" method="post">
                    {% csrf_token %}

                    {% if watchlisted %}
                        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Remove from Watchlist</button>
                    {% else %}
                        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Add to Watchlist</button>
                    {% endif %}
                </form>
                <br>
                
                 <!-- close listing option for lister -->
            
            {% endif %}
        </div>


            <!-- Comment Form -->
    {% if user.is_authenticated %}
        
        <h2>Comments...</h2>

        <form action="{% url 'listing_page' listing_id %}" method="post">
            {% csrf_token %}
            {{ bidform }}
            <button type="submit" name="bid" class="btn btn-primary btn-sm">Place Bid</button>
        </form>
        
        {% if not listing.comments.all %}
            No Comments Yet.

        {% else %}
            <a href="">Add Comment</a>
            <br/><br/>
            {% for comment in listing.comments.all %}
                <strong>
                    {{ comment.name }} -
                </strong>
                {{ comment.body }}
            {% endfor %}
        {% endif %}

        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    {% endif %}
{% endblock %}